/* Non Ui styling - App Content */
/*label.error{display:block; margin:10px 0; color:#cc0000;}

#taskFormErrors{display:none;}

label.error{display:block; margin:10px 0;} */



label.error{
	display:block;
	margin:10px 0; 
	color:#cc0000;
}
 
.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

#tferrorslink{
	display:none;
}

#taskFormErrors ul{
	font-weight: 900;
	list-style: none; 
	padding-left: 2px;
	line-height:  25px;
}

#taskFormErrors p{
	text-decoration: blink;
	color: red;
	font-style: oblique;
	text-align: center;
}

h3.ui-title{
	text-align: -webkit-left;
	text-align: left;
}